body{background:#fff;font-size:10px;margin:0 auto;padding:0;font-family:Arial,Helvetica,sans-serif;}
img{border:none;margin:0;padding:0;}
select{font-size:10px;margin:0;padding:0;}
h1{font-size:20px;margin:0;padding:0;}
h2,h3,h4,h5,h6{margin:0;padding:0;font-family:Arial,Helvetica,sans-serif;}
p{font-size:13px;}
td{padding:5px 10px;}
input{font-size:11px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
.lineheight21{line-height:21px;}
.lineheight28{line-height:28px;}
.lineheight50{line-height:50px;}
.dbfl{display:block;float:left;}
.dbfr{display:block;float:right;}
.displaynone{display:none;}
.displayblock{display:block;}
.fl{float:left;}
.fr{float:right;}
.txtclr_green,.txtclr_green a{color:#89b214;}
.fontred{color:#aa201b;}
.bold{font-weight:bold;}
.font15{font-size:15px;}
.font20{font-size:20px;}
.font30{font-size:30px;}
.font36{font-size:36px;}
.font48{font-size:48px;}
.font60{font-size:60px;}
.bdr_grey{border:1px solid #d2dce2;}
.bdr_rgt_grey{border-right:1px solid #666;}
.bdr{border-top:1px solid #d2dce2;}
.padLR5{padding:0 5px;}
.mar10{margin:10px;}
.marL10{margin-left:10px;}
.marL40{margin-left:40px;}
.marR10{margin-right:10px;}
.marR20{margin-right:20px;}
.marT10{margin-top:10px;}
.marT20{margin-top:20px;}
.marT30{margin-top:30px;}
.marL100{margin-left:100px;}
.marL150{margin-left:150px;}
.marL200{margin-left:200px;}
.marL250{margin-left:250px;}
.marL50{margin-left:50px;}
.padT5{padding-top:5px;}
.padTB5{padding:5px 0;}
.padL10{padding-left: 10px;}
.wid60{width:60px;}
.wid175{width:175px;}
.wid190{width:190px;}
.wid250{width:250px;}
.wid300{width:300px;}
.wid390{width:390px;}
.wid540{width:540px;}
.wid550{width:550px;}
.wid590{width:590px;}
.wid658{width:658px;}
.wid668{width:668px;}
.wid670{width:670px;}
.wid650{width:650px;}
.wid688{width:688px;}
.wid690{width:690px;}
.wid700{width:700px;}
.wid710{width:710px;}
.wid730{width:730px;}
.wid940{width:940px;}
.wid980{width:980px;}
.wid500{width:500px;}
.wid530{width:530px;}
.hgt25{height:25px;}
.hgt75{height:75px;}
.hgt50{height:50px;}
.height500{height:500px;}
.gobtn{background:url(/classpath/images/gobtn1.gif) no-repeat;height:22px;width:34px;color:#fff;font-size:12px;border:0;font-weight:bold;text-align:center;margin-left:10px;padding-bottom:6px;}
.btn54{background:url(/classpath/images/button54.gif) no-repeat;height:22px;width:54px;color:#fff;font-size:12px;border:0;font-weight:bold;text-align:center;margin-left:10px;padding-bottom:6px;}
.btn161{background:url(/classpath/images/button161.gif) no-repeat;height:22px;width:161px;color:#fff;font-size:12px;border:0;font-weight:bold;text-align:center;margin-left:10px;padding-bottom:6px;}
.btn131{background:url(/classpath/images/button131.gif) no-repeat;height:22px;width:131px;color:#fff;font-size:12px;border:0;font-weight:bold;text-align:center;margin-left:10px;padding-bottom:6px;}
#bodyWrap{display:block;margin:0 auto;width:100%;}
.wrapper{display:block;float:left;width:100%;}
.wrapper .toplinks{display:block;margin:0 auto;color:#666;font-size:12px;}
.wrapper .headerarea{display:block;float:left;width:100%;background:#f7f7f7;height:120px;margin:0;border-top:1px solid #c5c5c5;border-bottom:1px solid #c5c5c5;}
.headerarea .header{display:block;margin:0 auto;width:980px;padding:0;}
.dbfr padTB5 {padding: 10px;}
.fontColor{color:GREY;}
.fontOrange a{color:GREY;}
.fontOrange a:hover{color:#FF8205;text-decoration:none;}
.header .logo,.header .nav{display:block;float:left;}
.header .logo{padding:20px 0 0 57px;}
.header .nav{width:780px;padding:6px 0 0 0;}
.topsearch{width:542px;padding:15px 0 0 0;}
.topsearch_topcurve{background:url(/classpath/images/searcharea_topcurve.gif) no-repeat;height:5px;width:541px;}
.topsearch_mid{background:#fff url(/classpath/images/searcharea_mid.gif) repeat-x top;width:519px;border-left:1px solid #d8d8d8;border-right:1px solid #d8d8d8;padding:10px;}
.topsearch_btmcurve{background:url(/classpath/images/searcharea_btmcurve.gif) no-repeat;height:5px;width:541px;}
.topsearch_mid .searchico{background:url(magnifying-glass-2.png) no-repeat;height:26px;width:26px;margin:18px 0 0 0;}
.searcharea{width:480px;padding:0 0 0 10px;}
.searcharea p{margin:0;padding:0;}
.searcharea p a{color:#f9942c;text-decoration:underline;}
.searchinput{height:20px;width:172px;}
.searchbtn{background:url(/classpath/images/search_btn.png) no-repeat;width:73px;height:29px;border:0;color:GREY;font-size:13px;font-weight:bold;margin-left:10px;padding-bottom:3px;}
.search_category{height:25px;margin-left:2px; width:275px;}
.loginBox{height:20px;margin-left:2px; width:125px;}
.cities{height:25px;margin-left:2px; width:250px;}
.adv_search_zipcode{height:20px;width:250px;}
.adv_search_date{height:20px;width:250px;}
.adv_search_time{height:20px;width:250px;}
.event_description{width:250px;}
#menu{width:980px;height:60px;display:block;margin-top:10px;}
.wrapper .mc_area{display:block;float:left;width:100%;background:#fff url(/classpath/images/maincontentbg.jpg) repeat;margin:0;border-bottom:2px solid #fff;}
.mc_area .maincontent{display:block;margin:0 auto;width:980px;padding:0;}
.leftwrapper h1{color:#666;font-size:18px;}
p.contactno{font-family:Arial,Helvetica,sans-serif;font-size:24px;}
p.contactid{font-family:Arial,Helvetica,sans-serif;font-size:12px;}
.report_tabs{background:url(/classpath/images/sc_topstories_tab_bg.gif) repeat-x;height:32px;}
.report_tabs ul.tabs{margin:3px 0 0 0;padding:0 0 0 10px;list-style:none;float:left;border-bottom:1px solid #d2dce2;width:700px;}
.report_tabs ul.tabs li{background:url(/classpath/images/tab_bg.gif) repeat-x;margin:0 10px 0 0;padding:0;display:block;float:left;font-size:10px;color:#000;}
.report_tabs ul.tabs li a{float:left;margin:0;text-decoration:none;color:#000;padding:5px 10px 5px 10px;text-decoration:none;font-size:14px;font-weight:bold;border:1px solid #d2dce2;border-bottom:0;}
.report_tabs ul.tabs li.activeLink a{background:url(/classpath/images/tab_activebg.gif) repeat-x;color:#f9942c;border:1px solid #d2dce2;border-bottom:1px solid #f9f9f9;}
.report_tabs ul.tabs li a:hover{background:url(/classpath/images/tab_activebg.gif) repeat-x;color:#f9942c;border:1px solid #d2dce2;border-bottom:1px solid #f9f9f9;}
.tab_contents_container{background:none repeat scroll 0 0 #F9F9F9;border:1px solid #D2DCE2;min-height:450px;padding:20px;}
.tab_contents{display:none;}
.tab_contents_active{display:block;}
.report_head{background:url(/classpath/images/head_bg.gif) repeat-x;height:26px;border:1px solid #d9d9d9;}
.report_head h1{font-size:14px;color:#000;padding:5px 10px;}
.report_content{border:1px solid #d9d9d9;border-top:0;background:#fff;}
.report_content h2.title{color:#f9942c;font-size:30px;text-align:center;padding:15px 0;}
.report_tbl th{background:#ffecd9;font-size:12px;font-weight:bold;color:#666;text-align:left;padding:5px;}
.report_tbl td{font-size:12px;color:#666;padding:5px;}
.report_tbl1 th{background:#ffecd9;padding:5px;font-size:12px;font-weight:bold;color:#666;text-align:left;}
.report_tbl1 td{padding:5px 10px;font-size:12px;color:#666;}
.rightwrapper h1{color:#000;font-size:16px;background:#fff url(/classpath/images/head_shadowbg.gif) repeat-x;padding:0;}
.rightwrapper h1 .backwhite{background:#fff;padding:2px 5px 2px 0;}
.rightwrapper h2{color:#000;font-size:16px;padding:0;}
.rightwrapper h3{color:#ff8100;font-size:13px;}
.rightwrapper cite,.rightwrapper p{font-style:normal;color:#666;}
.rightwrapper cite{font-size:12px;}
.rightwrapper p{padding:10px 0;margin:0;}
a.more{color:#ff8100;font-size:11px;text-decoration:underline;}
#mainnavWrap,#mainnavWrap .leftbckg,#mainnavWrap .mid,#mainnavWrap .rightbckg{height:29px;}
#mainnavWrap{width:980px;margin:0;}
#mainnavWrap .leftbckg{background:url(/classpath/images/menu_lftcurve.gif) no-repeat;width:5px;}
#mainnavWrap .mid{width:969px;background:url(/classpath/images/menu_mid.gif) repeat-x;}
#mainnavWrap .rightbckg{background:url(/classpath/images/menu_rgturve.gif) right top;width:6px;}
#nav li,#nav li a,#nav li a:hover,.navdefault,.navhover{display:block;float:left;margin-left:10px;}
#nav{margin:0;padding:0;display:block;height:31px;list-style-type:none;background:#F88E11;}
#nav li{list-style-type:none;position:relative;}
#nav li a{text-decoration:none;color:GREY;padding:7px 10px 5px 10px;height:19px;font-size:14px;font-weight:bold;}
#nav li a.selected{background:url(/classpath/images/selected.gif) repeat-x;}
#nav li a.selected:hover{background:url(/classpath/images/selected.gif) repeat-x;}
#nav li a:hover{text-decoration:none;color:BLACK;background:url(/classpath/images/selected.gif) repeat-x;padding:7px 10px 5px 10px;height:19px;font-size:14px;font-weight:bold;}
#nav .menu1 div{display:none;}
#nav li a.current1{color:#000;}
.navdefault{text-decoration:none;color:#fff;padding:7px 10px 5px 10px;height:19px;font-size:14px;font-weight:bold;}
.navhover{text-decoration:none;color:#fff;background:url(/classpath/images/selected.gif) repeat-x;padding:7px 10px 5px 10px;height:19px;font-size:14px;font-weight:bold;}
#submenu{display:block;width:980px;margin:1px 0 0 0;}
#submenu .leftbckg{background:url(/classpath/images/submenutopcurves.gif) no-repeat;width:980px;height:5px;font-size:.000001em;}
#submenu .mid{width:975px;background:#fee4ca;padding:5px 0 5px 5px;}
#submenu .rightbckg{background:url(/classpath/images/submenubtmcurves.gif) no-repeat;width:980px;height:6px;font-size:.000001em;}
#submenu .mid ul{list-style:none;margin:0 0 0 5px;padding:0;}
#submenu .mid li{display:block;list-style:none;margin:0;padding:0 5px;font-size:12px;float:left;color:#666;}
#submenu .mid li a{text-decoration:none;color:#666;white-space:nowrap;}
#submenu .mid li a:hover{font-weight:bold;}
#submenu .mid li a.current{font-weight:bold;}
#submenu .mid li.disable{color:#abadac;}
.adv_search_lft{display:block;float: left;}
.adv_search_rgt{display:block;float: left;}
.events_lft{display:block;float: left;}
.events_rgt{display:block;float: left;}
.center_align{float:center;margin-left:450px;}
.orange {
	color: #fef4e9;
	width:100px;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	width:100px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	width:100px;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.wrapper .footerarea{display:block;float:left;width:100%;background:#f0f0f0;margin:10px 0 0 0;padding:0;border-top:1px solid #c9c9c9;}
.footerarea .footer{display:block;margin:0 auto;width:980px;background:url(/classpath/images/footerbg_shadow.png) no-repeat top;padding:20px 0 0 0;}
.subscribetxt{border:0;height:22px;width:175px;}
.subscribebtn{background:url(/classpath/images/subscribe.gif) no-repeat;height:24px;width:86px;color:#fff;font-weight:bold;border:0;}
.copyright{border-right:1px solid #b4b4b4;padding:0 20px 0 0;margin:0 0 0 100px;width:515px;}
.copyright p{margin:0;padding:0;text-align:center;}
.footerlinks{padding:10px 7px;font-size:12px;width:515px;}
.footerlinks a{color:#000;text-decoration:none;padding:0 7px;}
.footerlinks a:hover{color:#000;text-decoration:underline;}
.connectwithus_links{padding:10px 7px;font-size:12px;width:250px;}
.connectwithus_links h1{color:#000;font-weight:bold;padding:0 7px;font-size:16px;}
.connectwithus_links p{color:#000;padding:0 7px;margin:0;}
.socialnetwork_link{width:250px;margin:0;}
a.fbico{background:url(facebook.png) no-repeat;padding:32px 0 0 32px;margin:0 0 0 10px;height:0;width:0;overflow:hidden;font-size:.0001px;display:block;float:left;}
a.twitterico{background:url(twitter.png) no-repeat;padding:32px 0 0 32px;margin:0 0 0 10px;height:0;width:0;overflow:hidden;font-size:.0001px;display:block;float:left;}
a.inico{background:url(/classpath/images/in_ico.png) no-repeat;padding:32px 0 0 32px;margin:0 0 0 10px;height:0;width:0;overflow:hidden;font-size:.0001px;display:block;float:left;}
a.msnico{background:url(/classpath/images/msn_ico.png) no-repeat;padding:32px 0 0 32px;margin:0 0 0 10px;height:0;width:0;overflow:hidden;font-size:.0001px;display:block;float:left;}
.wrapper .mc_landingpage_area{display:block;float:left;width:100%;background:#fff url(/classpath/images/landingpage_bg.gif) repeat-x top;margin:0;border-bottom:2px solid #fff;}
.mc_landingpage_area .maincontent{display:block;margin:0 auto;width:980px;padding:0;}
.lp_left .lpleft_image{margin:0 auto;display:block;}
.lp_right h1{font-size:20px;}
ul.lp_offeru_nav{margin:0;padding:0;}
ul.lp_offeru_nav li{margin:10px 0;padding:0;list-style-type:none;}
ul.lp_offeru_nav li.lp_one{background:url(/classpath/images/lp_one.png) no-repeat;display:block;height:40px;padding:0 0 10px 50px;margin:10px 0;}
ul.lp_offeru_nav li.lp_two{background:url(/classpath/images/lp_two.png) no-repeat;display:block;height:40px;padding:0 0 10px 50px;margin:10px 0;}
ul.lp_offeru_nav li.lp_three{background:url(/classpath/images/lp_three.png) no-repeat;display:block;height:40px;padding:0 0 10px 50px;margin:10px 0;}
ul.lp_offeru_nav li.lp_four{background:url(/classpath/images/lp_four.png) no-repeat;display:block;height:40px;padding:0 0 10px 50px;margin:10px 0;}
ul.lp_offeru_nav li a{color:#666;font-size:18px;}
ul.lp_offeru_nav li a img{vertical-align:middle;padding:0 10px 0 0;}
.getstartedbtn{background:url(/classpath/images/getstarted_btn.png) no-repeat;width:193px;height:59px;display:block;color:#fff;font-size:16px;font-weight:bold;border:0;padding:0 0 13px 0;}
.update_discussionarea h1{color:#000;font-size:16px;background:#fff url(/classpath/images/head_shadowbg.gif) repeat-x;padding:0;}
.update_discussionarea h1 .backwhite{background:#fff;padding:2px 5px 2px 0;}
.infos{color:#666;}
.infos h2{color:#ff8100;font-size:14px;font-weight:bold;}
.infos p{display:block;float:left;width:300px;margin:0;padding:5px 0;}
.comments{display:block;float:left;font-size:14px;color:#666;}
a.total_comments{background:url(/classpath/images/comments.png) no-repeat;width:25px;height:22px;text-align:center;padding:0 7px 13px 3px;}
tr.altrow{background:#eee;}
.datatbl{padding:5px;}
.datatbl h4{color:#000;font-weight:bold;font-size:14px;}
td a.attach{text-decoration:none;font-size:12px;color:#00f;}
td a:hover.attach{text-decoration:underline;}
#popupContact1{display:none;position:fixed;_position:absolute;left:200px;top:120px;height:auto;background:#fff;width:680px;border:2px solid #cecece;z-index:2;padding:0;font-size:13px;}
#backgroundPopup{display:none;position:fixed;_position:absolute;height:100%;width:99.8%;top:0;left:0;background:#000;border:1px solid #cecece;z-index:1;font-family:Arial,Helvetica,sans-serif,Pristina;}
#popupContact{display:none;position:fixed;_position:absolute;left:300px;top:200px;height:auto;background:#fff;width:540px;border:2px solid #cecece;z-index:2;padding:0;font-size:13px;}
#popupContactClose{display:block;position:absolute;cursor:pointer;float:right;top:0;width:4%;padding:2px;margin-top:6px;right:2px;}
#link,#link2{text-align:center;color:#F00;}
#popupContact .popupheader{background:#ffecd9;width:100%;display:block;float:left;padding:5px 0;text-align:center;}
#popupContact .poppopupmaincontentupheader h1{font-size:14px;margin:0;padding:0;width:94%;float:left;}
.{display:block;float:left;width:96%;margin:0 auto;padding:10px;}
.popupmaincontent h2.success{background:url(/classpath/images/available_ico.gif) no-repeat;height:17px;display:block;float:left;padding:2px 0 0 21px;font-size:12px;margin:0;font-weight:normal;}
.popupcontent{border:1px solid #dedede;display:block;float:left;margin-top:10px;padding:5px;width:98%;}
.bold{font-weight:bold;}
#backgroundPopup1{display:none;position:fixed;_position:absolute;height:100%;width:99.8%;top:0;left:0;background:#000;border:1px solid #cecece;z-index:1;font-family:Arial,Helvetica,sans-serif,Pristina;}
#popupContact1{display:none;position:fixed;_position:absolute;left:250px;top:200px;height:auto;background:#fff;width:680px;border:2px solid #cecece;z-index:2;padding:0;font-size:13px;}
#popupContactClose1{display:block;cursor:pointer;float:right;top:0;width:4%;padding:0 5px;padding:0;margin-top:-2px;right:0;}
#popupContact1 .popupheader{background:#ffecd9;width:100%;display:block;float:left;padding:5px 0;text-align:center;}
#popupContact1 .poppopupmaincontentupheader h1{font-size:14px;margin:0;padding:0;width:94%;float:left;}
.{display:block;float:left;width:96%;margin:0 auto;padding:10px;}
.popupmaincontent1 h2.success{background:url(/classpath/images/available_ico.gif) no-repeat;height:17px;display:block;float:left;padding:2px 0 0 21px;font-size:12px;margin:0;font-weight:normal;}
.popupcontent1{border:1px solid #dedede;display:block;float:left;margin-top:10px;padding:5px;width:98%;}
#lift__noticesContainer___error ul{margin:0 0 0 20px;padding:0;}
#lift__noticesContainer___error ul li{margin:0;padding:0;color:#f00;font-size:12px;}
#lift__noticesContainer___notice ul{margin:0 0 0 20px;padding:0;}
#lift__noticesContainer___notice ul li{margin:0;padding:0;color:#000;font-weight:bold;font-size:12px;}
.report_tbl td .errorinput{border:1px solid #f00;}